    body{
        margin:0;
    }

    
    #mywrapper{
        background-color: white;
        width:100%;
        height: 100%;
        position: absolute;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

    }

    /*---------------------------------------BOX1--------------------------------------*/
    #box1{
        height:100%;
        width: 100%;
        background: url(../images/background1compressed.jpg);
        
    }


            #transbox{
                margin: 0 auto;
                background-color: black;
                border: 1px solid black;
                opacity:0.85;
                width:100%;
                height: 100%;
                filter:alpha(opacity=60); /* For IE8 and earlier */
                text-align: center;
                font-variant: normal;
                position: absolute;
                color: black;

            }

            #infobox{ 
                z-index: 1;
                vertical-align: middle;
                margin:0 auto;
                margin-left: 2em;
                margin-right: 2em;
                margin-top: 6em;
                padding: 15px auto;
                background-color: black;
                color: white;

            }


            div #infobox h2{
                display: none;
            }

            div #infobox p{
                display: none;
                text-align: center;
                vertical-align: middle;
                margin:0 auto;
                font-size: normal;
                    
            }

            div #infobox h1 {
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
            }

            div #infobox h2 {
                font-size: 20px;
                font-weight: normal;
            }

            div #infobox a{
                color: white;
                font-weight: normal;
              }

    /*---------------------------------------BOX2--------------------------------------*/
    #box2{
        width: 100%;
        height: 150%;
        background-color: #FAFAFA;
    }

    #profilepic{
        width: 100px;
        height: 100px;
        margin:auto;
        background: url(../images/profilepic.png);
        background-size: 100% 100%;
        border-radius: 100px;
    }

    #about{
        vertical-align: middle;
        margin:auto;   /*responsive*/
        padding: 50px;  /*responsive*/
       
        opacity: 0.7;
        font-size: 100%; /*responsive*/
        text-align: center;
        line-height: 200%;

    }

    div #about strong{
        color: #4D95E8;
    }


    /*---------------------------------------BOX3--------------------------------------*/

    #box3{
        width: 100%;
        height: 100%;
        background-color: white; 
        border-color: #CCCCCC;
        border-style: solid;
        border-width: 1px;
    }

    #skillsbox{
        vertical-align: middle;
        background-color: blue;
        
        opacity: 0.7;
        text-align: center;
        line-height: 200%;
        padding: 15px;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 60px;
        margin-bottom: 0;
        font-size: 150%;
        position: absolute;
    }




    /*-------------------------------------------Responsive CSS----------------------------------*/
    /*For anything bigger than a phone*/
    @media (min-width: 768px) {
        /*------------------- BOX 2 -----------------------*/
        #infobox{
            margin: 9em auto;
            padding: 50px;     
        }

        #box1{
            
            background-size: 100% 100%;
        }

        #transbox{
            opacity:0.85;
        }


        div #infobox h1{
            font-size: 65px;

        }

        div #infobox h2{
            font-size: 30px;
            display: none;
            
        }

        div #infobox p{
            display: none;
            
        }

        /*-------------------------BOX 2--------------------*/

        #profilepic{
            width: 200px;
            height: 200px;
        }

        #about{
            padding: 15px;
            margin-left: 5em;
            margin-right: 5em;
            margin-top: 60px;
            margin-bottom: 0;
            font-size: 150%;
            position: absolute;
        }

    }

    @media (min-height: 490px) {

        #box2{
            height: 130%;
        }
    }

    @media (min-height: 601px) {

        #box2{
            height: 100%;
        }
    }




   

